.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

input[type="file"] {
  margin: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

p {
  font-weight: bold;
  font-size: 18px;
}
